fastapi[standard]
uvicorn
httpx
python-dotenv # obtain environment variables from .env file
pydantic
python-multipart  # for handling file uploads
PyPDF2  # for PDF text extraction
openai

#numpy : uncomment for testing
#sentence-transformers  : uncomment for testing
